
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}



.search-container{
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-bottom: 2%;
  margin-left: 35%;
}

.search-container h1 {
  color: #004ba0;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 25px;
}

.containerLocal {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-bottom: 2%;

}

.containerLoc {
  color: #1367c7;
  text-align: center;
  margin-bottom: 1rem;
}

#resultadosPredio {
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

.containerManu {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-bottom: 2%;
  margin-left: 35%;
}

.containerManu h1 {
  color: #004ba0;
  text-align: center;
  margin-bottom: 1rem;
}


.containerHist {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-bottom: 2%;
}

.containerHist h1 {
  color: #004ba0;
  text-align: center;
  margin-bottom: 1rem;
}

.containerHist ul {
  list-style-type: none;
  padding: 0;
}

.containerHist li {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}


.container-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0.5rem; 
  padding: 2rem;
  justify-content: center;
}


@media (max-width: 768px) {
  .container-wrapper {
    grid-template-columns: 1fr;
  }
}

.search-container,
.containerLocal,
.containerManu,
.containerHist {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
}

.containerLoc,
.containerManu h1,
.containerHist h1 {
  color: #004ba0;
  text-align: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}


.containerBuscaPatri h1,
.containerLocal h1,
.containerManu h1,
.containerHist h1 {
  color: #004ba0;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}


.title-modal h3 {
  font-size: 2rem;
  color: #004ba0;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  justify-content: center;
  align-items: center;
}


input[type="text"] {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  font-size: 1rem;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-color: #004ba0;
}


button {
  background-color: #004ba0;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 50%;
  align-self: center; 
}

button:hover {
  background-color: #00327e;
}


#resultados, #resultadosPredio, .containerHist ul {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  width: 100%;
}


.resultado-item,
.containerHist li {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.resultado-item strong,
.containerHist li strong {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}


#resultados .resultado-item .qrcode {
  margin-top: 1rem;
  text-align: center;
}


.error {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
 
  input[type="text"], button {
    font-size: 14px;
    width: 100%; 
  }

  .resultado-item, .containerHist li {
    padding: 0.75rem;
    font-size: 14px;
  }

  .containerBuscaPatri h1,
  .containerLocal h1,
  .containerManu h1,
  .containerHist h1 {
    font-size: 1.25rem;
  }
}


input[type="text"] {
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px; 
  font-size: 1rem;
  width: 80%; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  margin: 0.5rem 0;
  outline: none; 
  background-color: #f9f9f9;
}


input[type="text"]:focus {
  border-color: #004ba0;
  box-shadow: 0 0 10px rgba(0, 75, 160, 0.2); 
  background-color: #fff;
}

input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic; 
  font-size: 1rem;
}


input[type="text"].error {
  border-color: red; 
  background-color: #ffe6e6; 
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2); 
}

input[type="text"].success {
  border-color: green; 
  background-color: #e6ffe6; 
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.2); 
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 100%; 
  }
}


.button-busca {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-image: linear-gradient(45deg, #0028ee, #001789); 
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-image 0.5s ease, transform 0.2s ease; 
  text-transform: uppercase; 
}


.button-busca:hover {
  background-image: linear-gradient(45deg, #001789,#0028ee); 
  transform: scale(1.05); 
}


button:focus {
  outline: none; 
}


button:disabled {
  background-image: linear-gradient(45deg, #ccc, #ccc);
  cursor: not-allowed;
}

/* modal */
.swal2-popup {
  border-radius: 10px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.swal2-title {
  font-size: 1.5rem;
  color: #004ba0;
  text-align: center;
  margin-bottom: 1rem;
}

.swal2-content {
  font-size: 1rem;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 0.75rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #004ba0;
  box-shadow: 0 0 10px rgba(0, 75, 160, 0.2);
  background-color: #fff;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

.swal2-button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.swal2-cancel {
  background-color: #ccc;
  color: #333;
}

.swal2-cancel:hover {
  background-color: #bbb;
}

.swal2-confirm {
  background-image: linear-gradient(45deg, #0028ee, #001789);
  color: white;
  border: none;
  text-transform: uppercase;
}

.swal2-confirm:hover {
  background-image: linear-gradient(45deg, #001789, #0028ee);
  transform: scale(1.05);
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"] {
  padding: 0.75rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #f9f9f9;
  outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
  border-color: #004ba0;
  box-shadow: 0 0 8px rgba(0, 75, 160, 0.2);
  background-color: #fff;
}


input.error {
  border-color: red;
  background-color: #ffe6e6;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.2);
}

input.success {
  border-color: green;
  background-color: #e6ffe6;
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.2);
}

input::placeholder {
  color: #aaa;
  font-style: italic;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="password"] {
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 100%;
  }
}

.cadastrar-container .button-cadastrar {
  display: flex;
  align-items: center;
  background-color: #00a0e3; /* Cor azul igual ao da imagem */
  color: white;
  border: none;
  border-radius: 30px; /* Cantos arredondados para igualar o formato */
  padding: 5px 12px; /* Tamanho do botão reduzido */
  font-size: 15px; /* Fonte pequena para igualar */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cadastrar-container .button-cadastrar:hover {
  background-color: #007bb5; /* Azul escuro ao passar o mouse */
}

.cadastrar-container .button-cadastrar::before {
  content: url('https://cdn-icons-png.flaticon.com/512/8922/8922789.png'); /* Caminho do ícone de papel e lápis */
  display: inline-block;
  width: 10px; /* Ajuste do tamanho do ícone */
  height: 18px;
  margin-right: 5px;
}
