/* src/css/Navbar.css */
.navbar {
    background-color: #fafafa;
    padding: 20px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-start;
    top: 100px;
    padding-left: 100px;
    z-index: 10;
    text-align: left;
    color: #333;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 0px; 
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: left;
    color: #333;
  }
  
  .navbar li {
    display: inline;
    margin-right: 20%;
    text-align: left;
    color: #333;
  }
  
  .navbar a {
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    text-align: left;
    
  }
  
  .navbar a:hover {
    background-color: #0000001e;
    text-decoration: underline;
  
  }
