/* src/css/Navbar.css */
.navbar {
    background-color: #ffffff;
    padding: 20px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-start; /* Alinha ao início */
    top: 100px;
    padding-left: 100px;
    z-index: 10; /* Garante que a navbar esteja acima de outros elementos */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 0px; /* Espaço entre os itens */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
  }
  
  .navbar a:hover {
    background-color: #0000001e;
    text-decoration: underline;
  }
  
  .title-modal {
    background-color: #ffffff80;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 505px;
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 20px; /* Espaço acima do título */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative; /* Muda para relative */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
}
  
  .title-modal h3 {
    font-size: 22px;
    color: #000000;
    text-align: center;
    align-items: center;
  }