/* A página ocupa toda a altura da tela e permite scroll */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    padding-top: 80px; 
    color: #fff;
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for maior que a tela */
    align-items: stretch; /* Alinha os itens para esticar toda a largura */
}
  

  /* O conteúdo principal ocupa o espaço disponível entre header e footer */
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.title-modal, /* Estilo para o título do modal */
    h1 {
        margin: 20px 0; /* Margem para separar os títulos dos outros conteúdos */
        text-align: center; /* Centraliza o texto */
    }

    form {
        width: 100%; /* Faz o formulário ocupar toda a largura disponível */
        max-width: 500px; /* Define uma largura máxima para o formulário */
        margin: 20px auto; /* Centraliza o formulário horizontalmente */
        padding: 20px; /* Adiciona espaço interno ao formulário */
        background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente para destacar o formulário */
        border-radius: 8px; /* Arredondamento nos cantos do formulário */
    }


  .title-modal {
    background-color: #ffffff80;
    padding: 1px;
    border-radius: 0px;
    text-align: center;
    width: 505px;
    margin-top: 20px; 
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 139px; 
  }
  