
  
  table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  th, td {
    padding: 12px;
    text-align: left; 
    border-bottom: 1px solid #ddd; 
  }
  
  th {
    background-color: #4CAF50; 
    color: rgb(2, 2, 2); 
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(odd) {
    background-color: #fff; 
  }
    

  
  .section-container h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
  }
  


  
  #chart-container h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #report-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
  
  #report-container th, 
  #report-container td {
    padding: 8px;
    border: 1px solid #000000;
    color: #333;
    text-align: left;
  }
  
  #report-container th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  #report-container td {
    background-color: #f4f4f4;
  }
  
  .layout .export-button {
    display: inline-flex;
    align-items: center;
    padding: 12px 18px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .layout .export-button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
  }
  
  .layout .export-button > svg {
    margin-right: 8px; 
    font-size: 20px; 
  }
  

.graf {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #0028ee, #001789);
  cursor: pointer;
  transition: background-image 0.5s ease, transform 0.2s ease;
  align-items: left;
  text-align: left;
  width: 50%;
  margin-left: 10%;
  
}

.graf:hover {
  background-image: linear-gradient(45deg, #001789, #0028ee);
  transform: scale(1.05);
}


#chart-container h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Seção de Botões */


.chart-section {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between; 
  gap: 20px;
  flex-wrap: wrap; 
}

.section-container {
  flex: 1; 
  width: 70%; 
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#chart-container, #report-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#chart-container h2, #report-container h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}
